# -*- coding: utf-8 -*-
#
# This file is part of VilfredoReloadedCore.
#
# Copyright © 2009-2013 Pietro Speroni di Fenizio / Derek Paterson.
#
# VilfredoReloadedCore is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation version 3 of the License.
#
# VilfredoReloadedCore is distributed in the hope that it will be useful, but
# WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
# FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License
# for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with VilfredoReloadedCore.  If not, see <http://www.gnu.org/licenses/>.
#
###############################################################################

PROTOCOL = 'http://'
SITE_DOMAIN = 'www.vilfredo.org'

import os
ROOT = '/home/vilfredo'

vilfredo_mysql = 'mysql+mysqldb://vilfredo:vilfredo_mysql_password@localhost/vilfredo?charset=utf8&use_unicode=0'

SQLALCHEMY_DATABASE_URI = vilfredo_mysql

# WARNING: must be changed to False in production!
DEBUG = True

CACHE_COMPLEX_DOM = False

LOCAL_SITE = True

GRAPHVIZ_DOT_PATH = '/usr/bin/dot'

LOG_FILE_PATH = '/var/log/vilfredo/vilfredo-vr.log'

# Set path to pickle work files
WORK_FILE_DIRECTORY = ROOT + '/work'

# WARNING: must be changed in production!
SECRET_KEY = 'secret_key'
SALT = 'vilfredo_salt'

# mail server settings
MAIL_SERVER = 'localhost'
MAIL_PORT = 25
MAIL_USERNAME = None
MAIL_PASSWORD = None
MAIL_SUPPRESS_SEND = False

from datetime import timedelta
REMEMBER_COOKIE_DURATION = timedelta(days=365)

# administrator list
# ADMINS = ['vilfredo@marv.dreamhost.com']
ADMINS = ['admin@' + SITE_DOMAIN]

# name of logger configuration file
LOG_CONFIG_FILE = 'logging_debug.conf'

ANONYMIZE_GRAPH = False

# Directory to put the voting maps - it will be created if not found
MAP_PATH = ROOT + '/vilfredo-core/VilfredoReloadedCore/static/maps/'
EXTERNAL_MAP_PATH = 'maps/'

SEND_EMAIL_NOTIFICATIONS = True

ALGORITHM_VERSION = 2
